:root {
  --ptimary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --main-font: Roboto, sans-serif;
  --dark-grey-background-color: #2f303a;
  --light-grey-background-color: #f5f4fa;
  --rgba-grey-color: rgba(255, 255, 255, 0.6);
  --list-gap: 30px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
}

body {
  color: var(--ptimary-text-color);
  background-color: var(--primary-white-color);
  font-family: var(--main-font);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo_blue {
  color: var(--accent-color);
}

.logo_white {
  color: var(--primary-white-color);
}

.header__logo {
  margin-right: 90px;
}

.footer__logo {
  margin-bottom: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.close-icon {
  width: 11px;
  height: 11px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.model-form__head {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 12px;
}

.modal-form__field {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.modal-form__input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__icon {
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--ptimary-text-color);
  margin-bottom: 30px;
}

.modal-form__checkbox-label::before {
  content: '';
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:checked + .modal-form__checkbox-label::before {
  background-image: url(../img/iconcheckbox.svg);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;
}

.modal-form__checkbox:focus + .modal-form__checkbox-label::before {
  border: 2px solid var(--accent-color);
}

.modal-form__checkbox-label-link {
  color: var(--accent-color);
}

.modal-form-btn {
  display: block;
  align-self: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #188ce8;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.address__contaiter {
  display: flex;
  align-items: center;
}

.address__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link_current {
  color: var(--accent-color);
}

.menu__link_current::after {
  position: absolute;
  bottom: -32px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  content: '';
  background-color: var(--accent-color);
}

.address__mail-link {
  display: flex;
  align-items: center;
  color: var(--ptimary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__mail-link:hover, .address__mail-link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__tel-link {
  display: flex;
  align-items: center;
  color: var(--ptimary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__tel-link:hover, .address__tel-link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__phone-icon:hover, .address__phone-icon:focus {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__mail-icon:hover, .address__mail-icon:focus {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--dark-grey-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__section {
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.advantages__icon-item {
  width: 70px;
  height: 70px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--list-gap));
  margin-top: calc(-1 * var(--list-gap));
}

.advantages__item {
  margin-left: var(--list-gap);
  margin-top: var(--list-gap);
  flex-basis: calc((100% - 4 * var(--list-gap)) / 4);
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--ptimary-text-color);
}

.servise {
  padding-top: 0px;
}

.servise__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.servise__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.servise__img-wrapper {
  position: relative;
}

.servise__h3-wrapper {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.servise__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--list-gap));
  margin-top: calc(-1 * var(--list-gap));
}

.team__item {
  background-color: var(--primary-white-color);
  display: block;
  margin-left: var(--list-gap);
  margin-top: var(--list-gap);
  flex-basis: calc((100% - 4 * var(--list-gap)) / 4);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team {
  background-color: var(--light-grey-background-color);
  padding-bottom: 94px;
}

.team__item-contant {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.team__mamber-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team__mamber-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:focus, .clients__link:hover {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--dark-grey-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__section {
  margin-right: auto;
}

.address__link {
  color: var(--rgba-grey-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__item-footer:not(:last-child) {
  margin-bottom: 9px;
}

.location {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.footer__social-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__social-list-icon {
  width: 20px;
  height: 20px;
}

.fooder__logo-address {
  display: flex;
  flex-direction: column;
}

.footer__social {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer__social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #44454e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-list-link:hover, .footer__social-list-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.footer-fort-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form-input-wrapper {
  display: flex;
}

.footer-form-input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  background-color: var(--dark-grey-background-color);
  padding: 15px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), drop-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus, .footer-form-input:hover {
  outline: none;
  border-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.86px;
  letter-spacing: 0.06em;
  text-align: center;
  border: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:focus, .footer-form-btn:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.footer-form-icon {
  width: 24px;
  height: 24px;
  fill: var(--primary-white-color);
  margin-left: 10px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  color: var(--title-text-color);
  background-color: var(--light-grey-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin-left: calc(-1 * var(--list-gap));
  margin-top: calc(-1 * var(--list-gap));
}

.project-item {
  margin-left: var(--list-gap);
  margin-top: var(--list-gap);
  flex-basis: calc((100% - 3 * var(--list-gap)) / 3);
  background-color: var(--primary-white-color);
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:focus, .project-link:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-decr {
  color: var(--ptimary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */